extends ../layout

block content
  a(href='/bicicletas') volver

  br
  br
  br
  h1 Actualizar bicicleta
  br
  br

  form(action=`/bicicletas/${bici.id}/update` method='post')
    .form-group
        label(for='color') Color:
        input#color.form-control(type='text', name='color', value= bici.color, class=errors.color ? 'is-invalid': '')
        if errors.color
            small#colorHelp.text-danger
                = errors.color.message
    .form-group
        label(for='modelo') Modelo:
        input#modelo.form-control(type='text', name='modelo', value= bici.modelo, class=errors.modelo ? 'is-invalid': '')
        if errors.modelo
            small#modeloHelp.text-danger
                = errors.modelo.message
    br
    br
    input.btn(type='submit' value='OK')